*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
    font-family:Arial, sans-serif;
}

body{
    background:#0f172a;
    color:white;
}

header{
    background:#1e293b;
    position:fixed;
    width:100%;
    top:0;
    z-index:1000;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
}

nav h2{
    color:#38bdf8;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    text-decoration:none;
    color:white;
    transition:.3s;
}

nav ul li a:hover{
    color:#38bdf8;
}

.hero{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
    background:linear-gradient(135deg,#0f172a,#1e3a8a);
}

.hero h1{
    font-size:55px;
    margin-bottom:10px;
}

.hero span{
    color:#38bdf8;
}

.hero h2{
    margin-bottom:15px;
}

.hero p{
    font-size:18px;
    margin-bottom:25px;
    line-height:1.6;
}

.btn{
    display:inline-block;
    background:#38bdf8;
    color:white;
    text-decoration:none;
    padding:12px 25px;
    border-radius:30px;
    transition:.3s;
}

.btn:hover{
    background:#0ea5e9;
    transform:scale(1.05);
}

section{
    padding:100px 10%;
}

section h2{
    text-align:center;
    color:#38bdf8;
    margin-bottom:30px;
    font-size:35px;
}

#about p{
    max-width:800px;
    margin:auto;
    text-align:center;
    line-height:1.8;
    font-size:18px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:20px;
}

.card{
    background:#1e293b;
    padding:25px;
    border-radius:12px;
    text-align:center;
    transition:.3s;
}

.card:hover{
    transform:translateY(-10px);
    background:#2563eb;
}

#contact{
    text-align:center;
}

footer{
    background:#1e293b;
    text-align:center;
    padding:20px;
    color:#ccc;
}

@media(max-width:768px){

nav{
    flex-direction:column;
}

nav ul{
    margin-top:15px;
}

.hero h1{
    font-size:38px;
}

}
#achievements{
    padding:100px 10%;
}

.achievement-card{
    background:#1e293b;
    border-left:6px solid gold;
    padding:25px;
    border-radius:12px;
    margin-top:20px;
    box-shadow:0 0 15px rgba(0,0,0,0.3);
}

.achievement-card h3{
    color:gold;
    margin-bottom:15px;
}

.achievement-card p{
    line-height:1.8;
}
