/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
    font-family:'Poppins',sans-serif;
}

body{
    background:#0a0a0a;
    color:#ffffff;
    overflow-x:hidden;
}

/* Scrollbar */

::-webkit-scrollbar{
    width:10px;
}
.hidden{
    opacity:0;
    transform:translateY(80px);
    transition:1s;
}

.show{
    opacity:1;
    transform:translateY(0);
}

.active{
    color:#d4af37 !important;
}

#topBtn{
    position:fixed;
    bottom:30px;
    right:30px;
    width:55px;
    height:55px;
    border:none;
    border-radius:50%;
    background:#d4af37;
    color:#111;
    font-size:22px;
    cursor:pointer;
    display:none;
    box-shadow:0 0 20px rgba(212,175,55,.6);
    transition:.3s;
}

#topBtn:hover{
    transform:scale(1.1);
}
::-webkit-scrollbar-track{
    background:#111;
}

::-webkit-scrollbar-thumb{
    background:#d4af37;
    border-radius:20px;
}

/* Header */

header{
    position:fixed;
    width:100%;
    top:0;
    left:0;
    background:rgba(0,0,0,.85);
    backdrop-filter:blur(12px);
    z-index:1000;
    border-bottom:1px solid rgba(212,175,55,.2);
}

nav{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 0;
}

.logo span{
    font-size:32px;
    font-weight:700;
    color:#d4af37;
}

nav ul{
    display:flex;
    list-style:none;
    gap:30px;
}

nav ul li a{
    text-decoration:none;
    color:white;
    transition:.4s;
    font-weight:500;
}

nav ul li a:hover{
    color:#d4af37;
}

/* Hero */

.hero{
    min-height:100vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:120px 10%;
}

.hero-left{
    max-width:600px;
}

.hero-left h3{
    color:#d4af37;
    font-size:24px;
}

.hero-left h1{
    font-size:70px;
    margin:15px 0;
}

.hero-left h2{
    font-size:36px;
    margin-bottom:20px;
}

.hero-left span{
    color:#d4af37;
}

.hero-left p{
    line-height:1.8;
    color:#cccccc;
    margin-bottom:35px;
}

/* Buttons */

.buttons{
    display:flex;
    gap:20px;
}

.btn,
.btn2{

    padding:14px 35px;
    border-radius:40px;
    text-decoration:none;
    font-weight:600;
    transition:.4s;

}

.btn{

    background:#d4af37;
    color:#111;

}

.btn:hover{

    transform:translateY(-5px);
    box-shadow:0 0 25px #d4af37;

}

.btn2{

    border:2px solid #d4af37;
    color:#d4af37;

}

.btn2:hover{

    background:#d4af37;
    color:#111;

}

/* Avatar */

.hero-right img{

    width:380px;
    border-radius:50%;
    border:5px solid #d4af37;
    box-shadow:0 0 40px rgba(212,175,55,.5);

}

/* Sections */

section{

    padding:100px 10%;

}

.title{

    text-align:center;
    font-size:40px;
    color:#d4af37;
    margin-bottom:50px;

}

/* Cards */

.about-box,
.timeline-box,
.skill-card{

    background:#111111;
    border:1px solid rgba(212,175,55,.2);
    border-radius:20px;
    padding:30px;
    transition:.4s;

}

.about-box:hover,
.timeline-box:hover,
.skill-card:hover{

    transform:translateY(-10px);
    box-shadow:0 0 25px rgba(212,175,55,.3);

}

/* Skills */

.skill-container{

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:30px;

}

.skill-card{

    text-align:center;

}

.skill-card i{

    font-size:45px;
    color:#d4af37;
    margin-bottom:20px;

}

.skill-card h3{

    font-size:22px;

}

/* Timeline */

.timeline{

    display:flex;
    justify-content:center;

}

.timeline-box{

    max-width:700px;

}

/* Footer */

footer{

    background:#111;
    padding:25px;
    text-align:center;
    color:#999;
    border-top:1px solid rgba(212,175,55,.2);

}

/* Responsive */

@media(max-width:900px){

.hero{

    flex-direction:column-reverse;
    text-align:center;

}

.hero-left h1{

    font-size:50px;

}

.hero-left h2{

    font-size:28px;

}

.hero-right img{

    width:260px;
    margin-bottom:40px;

}

.buttons{

    justify-content:center;

}

nav{

    flex-direction:column;
    gap:20px;

}

nav ul{

    flex-wrap:wrap;
    justify-content:center;

}

}
